<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328800213952-rc2uth3kskrfbjnbhq8affabolen0d6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328800213952-rc2uth3kskrfbjnbhq8affabolen0d6u</string>
	<key>API_KEY</key>
	<string>AIzaSyD4sW7AL0-xEjB_MFdizxE9-HukUo7dhgc</string>
	<key>GCM_SENDER_ID</key>
	<string>328800213952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.geoff.com.Codeup</string>
	<key>PROJECT_ID</key>
	<string>codeup-79457</string>
	<key>STORAGE_BUCKET</key>
	<string>codeup-79457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328800213952:ios:a7a06ca414e7db7e478625</string>
</dict>
</plist>